@use 'tokens' as *;

:host {
  display: block;
}

.sec__galeria-titulo,
.sec__subtitulo {
  margin-bottom: var(--esp-6);
}

.sec__cta {
  display: grid;
  gap: var(--esp-4);
  justify-items: center;
  max-width: 68rem;
  margin-inline: auto;
  text-align: center;
}

